body{
    padding-top: 70px;
    background-color: #282c34; 
    color: white;
}

p {
    text-align: justify;
}
        
.recordDiv {
    min-width: 100%;
    height: 100%;
}
.replayDiv {
    min-width: 100%;
    height: 100%;
}
.recorderCanvas {
    min-width:100%;
    max-width: 100vw;
    min-height: 80%;
    height:100%;
    image-rendering: pixelated;
}
.replayCanvas {
    min-width:100%;
    max-width: 100vw;
    min-height:100%;
    image-rendering: pixelated;
}
.mainContainer{
    min-height: 89vh;
}

